/data-lake-lab.iml
/README-bkp.md
/.idea/
/bde2020/workspace/mysql/data/
/bde2020/workspace/hdfs/namenode/
/ws/zookeeper/logs/
/ws/zeppelin/logs/
/ws/nifi/logs/
/ws/kafka/logs/
/ws/hadoop/logs/
/ws/elasticsearch/logs/
/ws/hadoop/data/
