/data-lake-lab.iml
/README-bkp.md
/.idea/
/bde2020/workspace/mysql/data/
/bde2020/workspace/hdfs/namenode/
/ws/elasticsearch/logs/
/ws/hadoop/datanode/data/
/ws/hadoop/datanode/logs/
/ws/hadoop/namenode/name/
/ws/hadoop/namenode/logs/
/ws/hive/logs/
/ws/kafka/logs/
/ws/kibana/logs/
/ws/mysql/data/
/ws/mysql/logs/
/ws/nifi/logs/
/ws/spark/master/logs/
/ws/spark/worker/logs/
/ws/zeppelin/logs/
/ws/zookeeper/logs/
